section.content
	.content-container
		.top-content
			.top-content-left-side
				.data
					.last-name
						.icon-user-box
							+icon('user')
						input(type="text" name="last-name" id="last-name" placeholder="Фамилия")
					.first-name
						.icon-user-box
							+icon('user')
						input(type="text" name="first-name" id="first-name" placeholder="Имя")
					.third-name
						.icon-user-box
							+icon('user')
						input(type="text" name="third-name" id="third-name" placeholder="Отчество")
			.top-content-right-side
				.skills
					.html-box
						.checkbox
						.tickbox Html
							+icon('tick')
					.css-box
						.checkbox
						.tickbox Css
							+icon('tick')
					.less-box
						.checkbox
						.tickbox Less
							+icon('tick')
					.jquery-box
						.checkbox
						.tickbox Jquery
							+icon('tick')
					.responsive-box
						.checkbox
						.tickbox <nobr>Адаптивная Верстка</nobr>
							+icon('tick')
		.bottom-content
			.bottom-content-left-side
				.bottom-content-title Немного о себе
				.bottom-content-description
					p Можете немного рассказать о себе, нам это интересно. Может у Вас есть какие-либо увлечения в спорте, в музыке в поэзии. Или же Вы любитель тишины.
					p А вдруг Вы умеете писать стихи, и вдруг это окажется плюсом для Вас...
			.bottom-content-right-side
				.avatar-box
					.avatar