section.footer
	.footer-container
		.footer-left-side
			.footer-left-side-title Контакты:
			.footer-left-side-description
				span 
					a(href="tel:+996550050505") +996 550 050505
				span 
					a(href="yourname@gmail.com") yourname@gmail.com
				span г.Бишкек,ул. Строителей 37
		.footer-right-side
			.footer-right-side-title Мы в социальных сетях:
			.social
				.social-box
					.facebook-box.icon-box
						a(href="http//www.facebook.com")
							+icon('facebook')
					.count-facebook
						span 259
						span тыс.
				.social-box
					.twitter-box.icon-box
						a(href="http//www.twitter.com")
							+icon('twitter')
					.count-twitter
						span 568
						span тыс.
				.social-box
					.linkedin-box.icon-box
						a(href="http//www.linkedin.com")
							+icon('linkedin')
					.count-linkedin
						span 137
						span тыс.