section.header
	.header-container__top
		span.logo Тз
		span.slogan Тестовое<br>Задание
	.header-container__bottom
		.sandwich-menu.active
			span.sandwich-menu-top
			span.sandwich-menu-middle
			span.sandwich-menu-bottom
		ul.header-container__nav
			li
				a(href="#") Главная
			li
				a(href="#") Учеба
			li
				a(href="#") Карьера
			li
				a(href="#") Контакты