/*top-content*/

.top-content
	display flex
	flex-wrap wrap
	margin-bottom 76px
	
.top-content-left-side
	margin-right 74px

.icon-user-box
	position relative
	size(47px,45px)
	background-color NavBarColor
	border-radius 3px 0 0 3px
.data input
	padding 16px 197px 16px 18px
	border none
	border-radius 0 3px 3px 0
	background-color InputColor
	color InputTextColor
	font-family placeholderFont
	font-size rem(18)
	
.last-name,
.first-name,
.third-name
	display flex
	height 45px
	margin-bottom 28px
	
.third-name
	margin-bottom 0
	
.top-content-right-side
	color ChekboxColor
	font-size rem(16)
	
.html-box,
.css-box,
.less-box,
.jquery-box
	margin-bottom 20px
	
.checkbox
	margin-right 12px

.tickbox:before
	content ''
	size(19px)
	display inline-block
	border 1px solid LabelColor
	vertical-align middle
	margin-right 12px
	
.tickbox
	position relative
	
.icon-tick
	display none
	size(19px)
	fill TickColor
	position absolute
	top 0px
	left 3px
	transform rotate(-6deg)

/*bottom-content*/

.bottom-content
	display flex
	flex-wrap wrap

.bottom-content-left-side
	max-width 100%
	width 452px
	margin-right 77px
	color BottomContentColor
	font-family mainFont
	font-size rem(18)
	line-height 1.3
	
.bottom-content-title
	margin-bottom 30px
	color BottomTitleColor
	font-size rem(27)
	
.bottom-content-description p:first-child
	margin-bottom 30px
	
.bottom-content-right-side
	margin-bottom 103px

.avatar-box
	size(222px)
	padding 9px
	border 1px solid AvatarBorderColor
	border-radius 4px
	
.avatar
	size(203px)
	background url('../img/content/avatar.jpg') 0 0 no-repeat
	border-radius 4px