.footer-container
	display flex
	justify-content space-between
	flex-wrap wrap
	padding 19px 0 14px
	
.footer-left-side
	font-family mainFont
	font-size rem(12)
	color BottomTextColor
	
	span
		display block
		line-height 1.8
		a
			color BottomTextColor
	
.footer-right-side-title,
.footer-left-side-title
	margin-bottom 24px
	color #fff
	font-family footerTitleFont
	font-size rem(14)
	
.footer-right-side-title
	margin-bottom 14px
	
.social
	display flex
	flex-wrap wrap
	
.social-box
	position relative
	size(87px,110px)
	margin-right 9px
	background-color SocialBoxColor
	border-radius 4px
	
.facebook-box,
.twitter-box,
.linkedin-box
	margin 0 auto
	margin-top 16px
	margin-bottom 13px
	
	& a
		display block
		size(40px)
	
.count-facebook,
.count-twitter,
.count-linkedin
	span
		display block
		width 22px
		margin 0 auto
		text-align center
		color #fff
		font-family placeholderFont
		
	& span:first-child
		font-size 14px
		
	& span:last-child
		font-size 11px
		