.wrapper
	width 100%
	max-width 1000px
	margin 0 auto

section.header
	width 100%
	max-width 1000px
	margin-bottom 50px
	
.header-container__top
	width 100%
	max-width 758px
	margin 0 auto
	
.header-container__bottom
	width 100%
	max-width 1000px
	background-color NavBarColor

section.content
	width 100%
	max-width 1000px
	
.content-container
	width 100%
	max-width 758px
	margin 0 auto

section.footer
	width 100%
	max-width 1000px
	background-color NavBarColor
	
.footer-container
	width 100%
	max-width 758px
	margin 0 auto
	
.icon-user
	absolute-center()
	size(12px,18px)
	fill IconUserColor
	
.icon-box
	size(40px)
	position relative
	border-radius 50%
	background-color IconBoxColor
	
.icon-facebook
	size(12px,20px)
	absolute-center()
	fill #fff

.icon-twitter
	size(15px,13px)
	absolute-center()
	fill #fff

.icon-linkedin
	size(14px,13px)
	absolute-center()
	fill #fff
	

