// ЦВЕТА
logoColor = #f4f4f4
SloganColor = #969696
NavBarColor = #484848
NavBarTextColor = #9ea2a7
NavBarHoverColor = #dbdbdb
NavBarVerticalHoverColor = #656565
NavBarLineColor = #555
IconUserColor = #a2a9b1
InputColor = #f6f6f6
InputTextColor = #6d747c
BottomContentColor = #5f5f5f
BottomTitleColor = #28a1ff
AvatarBorderColor = #dedede
BottomTextColor = #9d9d9d
IconBoxColor = #2b2b2b
SocialBoxColor = #3c3c3c
ChekboxColor = #939393
LabelColor = #eeeeee
TickColor = #285ab5



// РАЗМЕРЫ


// ШРИФТЫ
mainFont = "OpenSans-Light"
logoFont = "Calibri-Light"
sloganFont = "OpenSans-Light"
NavBarFont = "OpenSans-Bold"
placeholderFont = "Calibri-Regular"
footerTitleFont = "OpenSans-SemiBold"
